@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
  background-color: #000926;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.font-sora {
  font-family: 'Sora', sans-serif;
}
.font-pjs {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
